.filme-info {
  display: flex;
  flex-direction: column;
  max-width: 840px;
}
.filme-info img {
  border-radius: 20px;
}
.filme-info .sinopse {
  background-color: rgb(211, 232, 243);
  border-radius: 6px;
  text-align: center;
  padding-left: 6px;
  padding-right: 6px;
}
.filme-info .sinopse p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 17px;
}

.filme-info button {
  margin-right: 6px;
  margin-top: 15px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  border: 0;
  outline: none;
  padding: 12px;
  transition: all 0.5s;
  background-color: rgb(170, 168, 165);
}

.filme-info button:hover {
  background-color: brown;
}
.filme-info button a {
  text-decoration: none;
  color: #000;
  transition: all 0.5s;
}
.filme-info button a:hover {
  color: wheat;
}
